*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.747);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
}
